.videoWrapper {
  iframe {
    display: block;
    margin: 0 auto;

    @media (max-width: 991.98px) {
      width: 100%;
      height: auto;
    }
  }
}

.carouselItem {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
