.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  white-space: nowrap;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 24px;
  border: 2px solid;
  border-radius: 6px;
  text-align: center;
  transition: all .3s ease;
  outline: none;
  color: var(--color-dark);
  line-height: 28px;
}

.btnPrimary {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-dark);

  &:hover {
    border-color: var(--color-primary-hover);
    background-color: var(--color-primary-hover);
    color: var(--color-dark);
  }

  &:active {
    border-color: var(--color-primary-active);
    background-color: var(--color-primary-active);
    color: var(--color-dark);
  }
}

.btnSecondary {
  border-color: var(--color-primary);
  color: var(--color-primary);

  &:hover {
    border-color: var(--color-primary-hover);
    background-color: var(--color-primary-hover);
    color: var(--color-dark);
  }

  &:active {
    border-color: var(--color-primary-active);
    background-color: var(--color-primary-active);
    color: var(--color-dark);
  }
}

.btnComplementaryDark {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-dark);

  &:hover {
    border-color: var(--color-secondary-active);
    background-color: var(--color-secondary-active);
    color: var(--color-dark);
  }

  &:active {
    border-color: var(--color-secondary-hover);
    background-color: var(--color-secondary-hover);
    color: var(--color-dark);
  }
}

.btnComplementaryLight {
  border-color: var(--color-secondary);
  color: var(--color-secondary);

  &:hover {
    border-color: var(--color-secondary-active);
    background-color: var(--color-secondary-active);
    color: var(--color-dark);
  }

  &:active {
    border-color: var(--color-secondary-hover);
    background-color: var(--color-secondary-hover);
    color: var(--color-dark);
  }
}

.btnAccent {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-white);

  &:hover {
    border-color: var(--color-accent-hover);
    background-color: var(--color-accent-hover);
    color: var(--color-white);
  }

  &:active {
    border-color: var(--color-dark);
    background-color: var(--color-dark);
    color: var(--color-white);
  }
}

.btnBlock {
  display: block;
}
