.heroSection {
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 30vh;
  background-image: url("../../../../images/lesotho-2.jpg");

  @media (min-width: 425px) {
    height: 50vh;
  }
}
