// SCSS variables must be imported before Bootstrap
// so that Bootstrap picks up $primary, $secondary, etc.
@import "./colors.scss";

// Bootstrap framework
@import '../../node_modules/bootstrap/scss/bootstrap';

// Custom overrides (must come after Bootstrap so they win in cascade)
@import "./fonts.scss";
@import "./buttons.scss";
@import "./nav.scss";
@import "./backgrounds.scss";
