.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #16130e;
  box-shadow: 0 0 6px 1px rgba(61,68,71,0.45);
}

.navLink {
  font-size: 16px;
  color: #ffffff !important;
}

.logoImage {
  width: 60px;
}

.burger {
  color: white;
}
