.heroSection {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 30vh;
  background-image: url("../../../../images/kids-in-skatepark.jpg");

  @media (min-width: 425px) {
    height: 50vh;
  }
}
