.footer {
  padding: 90px 0 25px 0;
  background-color: rgba(22,19,14, 0.05);

  h6, a {
    font-size: 14px;
  }

  h6 {
    line-height: 28px;
  }
}

.copyright {
  font-size: 12px;
}

.textSmall {
  font-size: 10px;
  line-height: 16px;
}
