.footer {
  padding: 90px 0 25px 0;
  background-color: #f0f4e8;

  h6, a {
    font-size: 14px;
  }

  h6 {
    line-height: 28px;
  }
}

.copyright {
  font-size: 12px;
}

.textSmall {
  font-size: 10px;
  line-height: 16px;
}

.logoImage {
  width: 60px;
}
